.idea
venv
__pycache__
*.nef
*.manifest.json
*.nefdbgnfo
*.lock
dist
build
_build
neo3_boa.egg-info
/neo-devpack-dotnet/
/Neo.TestEngine/
test-engine-test.json
test-runner*
autopep8
.vscode
.coverage
